.BT8_b3_font_0 {
    background-color: rgb(84, 84, 84);
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 1% 5%;
    margin-top: 8%;
}

.BT8_b3_font_1 {
    /* background-color: aqua; */
    width: 31.5%;
    height: 99%;
    margin-right: -4px;
    border-radius: 8px;
    transition: all 1s;
    position: relative;
}

.BT8_b3_font_1_space_right {
    margin-right: 2%;
}

.BT8_b3_inbl {
    display: inline-block;
}

.BT8_b3_text_size_30 {
    font-size: 30px;
}

.BT8_b3_img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1.2;
    object-fit: cover;
}

.shadow {
    background-color: rgba(12, 12, 12, 0.226);
    height: 20%;
    width: 100%;
    top: 80%;
    left: 0px;
    box-sizing: border-box;
    padding: 0px 10px;
    position: absolute;
    transition: all 1s ease-in-out;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.BT8_b3_font_1:hover .shadow {
    background-color: rgba(12, 12, 12, 0.685);
    position: absolute;
    top: 40%;
    left: 0px;
    height: 60%;
    box-sizing: border-box;
    padding: 0px 10px;
    overflow: hidden;
}

.shadow_1 {
    box-sizing: border-box;
    padding: 0px 10px;
    opacity: 0;
    display: none;
    transition: all 2s ease-in-out;
}

.BT8_b3_font_1:hover .shadow_1 {
    display: block;
    opacity: 1;
}

.Bt8_b3_re {
    position: relative;
}

.Bt8_b3_ab {
    position: absolute;
}

.Bt8_b3_ab_text {
    top: 25px;
    left: 8px;
}

.BT8_b3_line {
    line-height: normal;
}

.Bt8_b3_ab_button {
    background-color: rgba(12, 12, 12, 0.685);
    color: white;
    width: fit-content;
    padding: 4px 10px;
    border: 1px solid white;
    box-shadow: rgb(84, 84, 84);
    top: 80%;
    left: 70%;
}